{% extends "layouts/dashboard.html.twig" %}

{% block title %}Dashboard | Comments{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Comments ({{ comments.getTotalItems() }})</h1>
        <h4 class="fst-italic mb-5">{{ post.title }}</h4>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Author</th>
                    <th scope="col">Content</th>
                    <th scope="col">Created at</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {% for comment in comments.getItems() %}
                <tr valign="middle">
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.content|u.truncate(290, '[...]') }}</td>
                    <td>{{ comment.created_at|format_datetime('medium', 'none') }}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <form method="post" action="{{ route('comment.delete', comment.id) }}">
                                {{ csrf_token_input()|raw }}
                                {{ method_input('delete')|raw }}

                                <button type="submit" title="Delete" class="btn px-0">
                                    <i class="fa fa-trash text-danger"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav class="my-5">
            <ul class="pagination justify-content-center">
                {% if comments.hasLess() %}
                <li class="page-item">
                    <a class="page-link text-dark" href="{{ comments.previousPageUrl() }}">
                        &laquo;
                    </a>
                </li>
                {% endif %}

                {% if comments.totalPages() > 1 %}
                <li class="page-item page-link text-dark">
                    Page {{ comments.currentPage() }}/{{ comments.totalPages() }}
                </li>
                {% endif %}
                
                {% if comments.hasMore() %}
                <li class="page-item">
                    <a class="page-link text-dark" href="{{ comments.nextPageUrl() }}">
                        &raquo;
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
